#heading{
    width: 100%;
    float: left;
    font-size: 32px;
}

#instructions{
    float: right;
}

#marioimg{
    width: 100%;
}

#start{
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
}

.modal-dialog{
    width: 100%;
}

.instruction_img{
    display: inline-block;
    width: 45%;
}

video{
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}